<form [formGroup]="registerForm">
    <label>
      Name:
      <input type="text" formControlName="name">
    </label>
    <label>
        gender:
      <input type="text" formControlName="gender">
    </label>
    <label>
        age:
      <input type="text" formControlName="age">
    </label>
    <label>
        email:
      <input type="text" formControlName="email">
    </label>
    <label>
        location:
      <select name="location" formControlName="location">
        <option *ngFor="let zipCode of zipCodes" value="{{zipCode.city}}" >{{zipCode.city}}</option>
      </select>
    </label>
    <label>
        zip:
        <input type="text" formControlName="zip">
    </label>
    <label>
        referrer:
      <input type="text" formControlName="referrer" UniqueAlterEgoValidator>
    </label>
    <p>
      Form Status: {{ registerForm.status }}
    </p>
    <div class="btns">
        <button (click)="reset()">RESET</button>
        <button (click)="submit()" autofocus>SUBMIT</button>
    </div>
</form>
