
form{
  width: 300px;
  display: flex;
  flex-direction: column;
}

label{
  display: flex;
  margin: 10px 0;
}

input{
  width: 100%;
  line-height: 20px;
  outline: none;
}

.btns{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btns button{
  margin: 10px;
  width: 100%;
}

.ng-valid[required], .ng-valid  {
  border-bottom: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-bottom: 5px solid #a94442; /* red */
}
